<nav class="navbar navbar-expand-sm navbar-light bg-light sticky">
      <a class="navbar-brand font-weight-bold">
        Task-3
      </a>  
  
      <div class="collapse navbar-collapse show">
        <ul class="navbar-nav mr-auto" *ngIf="isAuthenticated">
            <li class="nav-item font-weight-bold">
              <a 
              routerLinkActive="active" 
              [routerLinkActiveOptions]="{exact: true}" 
              [routerLink]="'/product'" 
              class="nav-link">
                  ProductList
              </a>
            </li>
            <li class="nav-item font-weight-bold">
              <a 
              routerLinkActive="active"
              [routerLink]="'/product/new'" 
              class="nav-link">
                  AddProduct
              </a>
            </li>
        </ul> 

        <form class="form-inline mr-auto" *ngIf="isAuthenticated && searchShow">
          <input class="form-control" 
            type="search" 
            name="productTitle" 
            [(ngModel)]="productTitle" 
            (ngModelChange)="search()"
            placeholder="Search for products..." 
            aria-label="Search">
        </form>
  
        <ul class="navbar-nav my-2 my-lg-0" *ngIf="isAuthenticated">
          <li class="nav-item align-self-center">
            <a class="nav-link" routerLinkActive="active" routerLink="/cart">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"  class="bi bi-cart3" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <span class="badge badge-danger">0</span>
            </a>
          </li>

          <li class="nav-item align-self-center">
            <a class="btn active " style="color: black;">
              <b class="m-0 ">{{email}}</b>
            </a>
          </li>

          <li class="nav-item align-self-center">
            <a class="nav-link p-0 ">
              <img [src]="photoUrl" style="height: 40px; width: 40px;" onerror="this.src='assets/user.png';">
            </a>
          </li>

          <li class="nav-item align-self-center">
            <a class="btn btn-link" style="color: black;" (click)="onLogout()">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg>
              <b> Logout</b>
            </a>
          </li>
        </ul>        
      </div>
  </nav>